.center-todoList{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2ch;
}
.center-box{
  margin-top: 3ch;
  display: flex;
  justify-content: center;
  align-items: center;
}
.px{
  padding-left: 1ch;
  padding-right: 1ch;
  margin-right:1ch;
  margin-left: 1ch
}